# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
capstone-app/dist
capstone-app/tmp
capstone-app/out-tsc
capstone-app/.sass-cache
capstone-app/connect.lock
capstone-app/coverage
capsotne-app/libpeerconnection.log
capstone-app/package-lock.json
# Only exists if Bazel was run
capstone-app/bazel-out

# dependencies
capstone-api/node_modules
capstone-app/node_modules
package-lock.json
# profiling files
chrome-profiler-events*.json

# IDEs and editors
capstone-app/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
npm-debug.log
yarn-error.log
testem.log
capstone-app/typings

# System Files
.DS_Store
Thumbs.db