table {
  padding: 10px;
  width: 90%;
}
table a{
  justify-content: center;
}
#ticketsTable {
  padding: 10px;
  display: table-header-group;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
legend {
  border: 30px;
  padding: 30px;
}
